#root {
  margin: 0 auto;
  text-align: center;
}

#landing-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

#login-box {
  /* Enter something */
}

#dashboard-box {
  /* Enter something */
}